.footer {
	z-index: 2;
	/* font-family: 'Comic Sans MS', 'Comic Sans', cursive, 'Comic Neue', cursive; */
    background-color: var(--background-color);
    color: var(--font-color);
	display: flex;
	justify-content: center;
    flex-direction: row;
	width: 100%;
	/* height: 30%; */
    align-items: center;
	position: absolute;

}

.socialmedia {
	display: flex;
	justify-content: center;
	gap: 20px;
	width: auto;
    padding-left: 10%;
	padding-right: 10%;
	height: 10%;
}

.socialmedia img {
	height: 32px;
}

.socialmedia a {
	text-decoration: none;
}

.beatTheLuck {
    display: flex;
	flex-direction: column;
	justify-content: center;
	color: var(--font-color);
	text-align: left;
	line-height: 2;
	padding-top: 30px;
    padding-bottom: 20px;
	font-size: large;
	/* font-weight: bold; */
}

.privacy_link{
	color: var(--font-color);
}

@media (max-width: 861px) {
.footer{
    flex-direction: column;
}
.beatTheLuck{
    width: 100%;
    text-align: center;
    justify-content: center;
}
.socialmedia{
    padding-bottom: 10px;
}
}
