.background-container {
  position: relative;
  width: 100%;
  height: auto;
  color: var(--font-color);
}

.background-image {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#bg1 {
  /* background-color: var(--background-color); */
  /* color: var(--font-color); */
  background-image: url("../assets/background/general.png");
}

#bg2 {
  background-image: var(--background-image-bg2);
  display: flex;
  justify-content: center;
}

#bg3 {
  background-image: var(--background-image-bg3);
}

#bg4 {
  background-image: var(--background-image-bg4);
}

#bg5 {
  background-image: url("../assets/background/Contact.png");
}

#bg6 {
  background-image: url("../assets/background/mock_interview.png");
}

body::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}
/* About starts */
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");

#discriptionblock-home {
  font-size: x-large;
  padding-top: 5%;
  padding-bottom: 5%;
  
    font-family: 'Comic Sans MS', 'Comic Sans', cursive, 'Comic Neue', cursive;

  color: white;
  /* background-color: var(--background-color); */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
}

.discription-home {
  color: white;
  width: 40%;
  display: flex;
  margin: 10px;
  font-size: large;
  line-height: 25px;
  flex-direction: column;
  justify-content: center;
}

/* .waviy {
  position: absolute;
  left: 8%;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
  font-size: 45px;
}
.waviy span {
  position: relative;
  display: inline-block;
  line-height: 60px;
  font-weight: bold;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(0.033s * var(--i));
}
@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-8px);
  }
} */
/* About ends */

.logo-video-pc {
  display: block;
}
.logo-video-phone {
  display: none;
}

.bg-cover-home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  /* background-color: var(--background-color); */
}
/* Mock Interview */
.home_block {
  z-index: 2;
  backdrop-filter: blur(20px);
  display: block;
  width: 70%;
  font-family: 'Comic Sans MS', 'Comic Sans', cursive, 'Comic Neue', cursive;
  font-size: larger;
  font-weight: 500;
  margin-top: 3%;
  line-height: 150%;
  padding: 2%;
  align-content: center;
  text-align: justify;
  border-radius: 20px;
  box-shadow: 0px 0px 5px rgb(255, 0, 0);
  margin-bottom: 3%;
}

.home_block:hover {
  display: block;
  cursor: pointer;
  /* box-shadow: 0px 0px 18px red; */
}

.button-home {
  z-index: 3;
  text-decoration: none;
  padding: 1%;
  font-size: large;
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  background-color: #c00202;
}

.button-home:hover {
  background-color: var(--background-color);
  color: #c00202;
  /* background: none; */
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* ends here */

/* Introduction about akash dave */
.welcome {
  z-index: 2;
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-size: large;
  font-weight: bold;
  width: 40%;
  padding-top: 25%;
  display: flex;
  font-size: large;
  padding: 10%;
  flex-direction: column;
  justify-content: center;
}
/* ends here */

.akash_wrapper {
  /* color: var(--font-color); */
  height: fit-content;
  z-index: 2;
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  backdrop-filter: blur(20px);
  box-shadow: 0px 0px 5px #c00202;
  border-radius: 20px;
  font-family: 'Comic Sans MS', 'Comic Sans', cursive, 'Comic Neue', cursive;
  line-height: 1;
  font-size: larger;
}

.akash_block {
  display: flex;
  justify-content: center;
  height: auto;
  padding: 2%;
  /* padding-left: 5%; */
  display: flex;
  width: 90%;
  /* font-weight: bold; */
  line-height: 140%;
  align-content: center;
  text-align: justify;
}

.akash-photo {
  cursor: pointer;
  margin-top: 5%;
  height: fit-content;
  width: 40%;
  transition: 0.5s all ease-in-out;
}
.akash-photo:hover {
  transform: scale(1.2);
}

@media (max-width: 861px) {
  .akash_wrapper {
    width: 80%;
    font-size: large;
    /* margin-top: 10%; */
  }

  .logo-video-phone {
    display: block;
  }

  .logo-video-pc {
    display: none;
  }

  .waviy {
    font-size: 30px;
    font-family: sans-serif;
  }
  .home_block {
    width: 90%;
    font-size: medium;
    line-height: 150%;
    padding-bottom: 10%;
  }
  .button-home {
    font-size: medium;
  }
  .blog_block {
    width: 90%;
    margin-left: 5%;
    font-size: medium;
    line-height: 120%;
    font-family: sans-serif;
  }
  .welcome {
    font-size: medium;
    line-height: 180%;
    width: 80%;
    position: absolute;
    bottom: 10%;
    font-weight: normal;
    font-family: sans-serif;
  }

  #discriptionblock-home {
    font-size: medium;
    padding: 5%;
  }
}
